/*******************************************************************************
PLACEHOLDER MODULE BEM Style
*******************************************************************************/
$width : 400px;

.card {
    width: $width;
    lost-column: 1/3;
    ratio: 16/9;
    background: teal;
    height: calc(12px + 40px);
}
