/*******************************************************************************
PLACEHOLDER MODULE BEM Style
*******************************************************************************/
$width : 400px;

.card {
    width: $width;
    ratio: 2px;
    background: teal;
    height: calc(12px + 40px);
}
